* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #181719;
    height: 100%;
}

a {
    position: absolute;
    top: 22px;
    right: 12px;

    color: #FFF;
}

a:visited {
    color: #FFF;
}

main {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    margin-top: 264px;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    
    height: 200px;
}

nav p {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFF;
}

.current {
    border-bottom: 2px solid #FFF;
    font-weight: 700;
}